body {
    background-image: url('computer-network-cyber-security-vector-icon-eps-file-easy-to-edit-124248141.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: rgb(235, 235, 243);
}

p {
    font-size: 16px;
    color: rgb(251, 250, 250);
}

